<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MessageImporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MessageImporter.Properties.Settings>
            <setting name="ActiveStyle_ICO" serializeAs="String">
                <value>46589457</value>
            </setting>
            <setting name="DueDateAdd" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="BankCode" serializeAs="String">
                <value>0200</value>
            </setting>
            <setting name="ConstSym" serializeAs="String">
                <value>0308</value>
            </setting>
            <setting name="Bank" serializeAs="String">
                <value>VUB</value>
            </setting>
            <setting name="ClasifficationVAT" serializeAs="String">
                <value>UD</value>
            </setting>
            <setting name="Accounting" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DPH_percent" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="TypePrice" serializeAs="String">
                <value>SK</value>
            </setting>
            <setting name="Storage" serializeAs="String">
                <value>03</value>
            </setting>
            <setting name="ShippingCode" serializeAs="String">
                <value>shipping</value>
            </setting>
            <setting name="ExRateCzk" serializeAs="String">
                <value>25.232</value>
            </setting>
            <setting name="ExRateHuf" serializeAs="String">
                <value>281.42</value>
            </setting>
            <setting name="ExRatePln" serializeAs="String">
                <value>4.1088</value>
            </setting>
            <setting name="ShipTextSkk" serializeAs="String">
                <value>Cena za dopravu</value>
            </setting>
            <setting name="ShipTextCzk" serializeAs="String">
                <value>Cena za dopravu</value>
            </setting>
            <setting name="ShipTextHuf" serializeAs="String">
                <value>Szállítási és csomaglási költség</value>
            </setting>
            <setting name="ShipTextPln" serializeAs="String">
                <value>Koszt dostawy</value>
            </setting>
            <setting name="ShipPriceSkk" serializeAs="String">
                <value>3.99</value>
            </setting>
            <setting name="ShipPriceCzk" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ShipPriceHuf" serializeAs="String">
                <value>990</value>
            </setting>
            <setting name="ShipPricePln" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="TaxSkk" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="TaxCzk" serializeAs="String">
                <value>1.19</value>
            </setting>
            <setting name="TaxHuf" serializeAs="String">
                <value>1.25</value>
            </setting>
            <setting name="TaxPln" serializeAs="String">
                <value>1.15</value>
            </setting>
            <setting name="ExchRateXMLAddress" serializeAs="String">
                <value>http://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml</value>
            </setting>
            <setting name="SubProductLength" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="PartnerSports" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="PartnerMandM" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="PartnerLabel" serializeAs="String">
                <value>67</value>
            </setting>
            <setting name="UseSkkSerie" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseCzkSerie" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseHufSerie" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UsePlnSerie" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SkkSerie" serializeAs="String">
                <value>13SVF</value>
            </setting>
            <setting name="CzkSerie" serializeAs="String">
                <value>13CVF</value>
            </setting>
            <setting name="HufSerie" serializeAs="String">
                <value>13HVF</value>
            </setting>
            <setting name="PlnSerie" serializeAs="String">
                <value>13PVF</value>
            </setting>
            <setting name="CancelledStorage" serializeAs="String">
                <value>09</value>
            </setting>
        </MessageImporter.Properties.Settings>
    </userSettings>
</configuration>